{% extends "stock/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
		<h1>Available Directories</h1>
		
		  <!-- <ul>
			{% for model in model_list %}
			<li class="list-group-item">{{ model }}</li>
				
			{% endfor %}
			</ul> -->

			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Components
				</a>
			  
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					{% for model in model_list %}
					<a class="dropdown-item" href="#">{{ model }}</a>
				
			{% endfor %}
				  
				  
				</div>
			  </div>


<hr>

<!-- Default dropright button -->
<div class="btn-group dropright">
	<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Components
	</button>
	<div class="dropdown-menu">
		{% for model in model_list %}
		<a class="dropdown-item" href="{% url 'stock:detail' model %} ">{{ model }}</a>
	
{% endfor %}
	</div>
  </div>

<hr>

{% for model in model_list %}
		<a class="dropdown-item" href="#">{{ model }}</a>
		<div class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">{{ model }}</h5>
			  <p class="card-text">View, Update or Delete {{model}} data </p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>
	
{% endfor %}

{% endblock content %}
