{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if user.is_staff %}
    <a class="navbar-brand mr-4 " href="{% url 'stock-home' %}"><img class="logo"
            src="{% static 'stock/images/logo.png' %}"></a>

{% else %}
<a class="navbar-brand mr-4 " href="{% url 'user-page' %}"><img class="logo"
            src="{% static 'stock/images/logo.png' %}"></a>
  {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div>
             {% if user.is_staff %}
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'stock-home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock-products' %}">Products</a>
                </li>
            </ul>
            {% elif user.is_authenticated %}
            <li class="navbar-nav nav-item ">
                <a class="nav-item nav-link" href="{% url 'user-page' %}">Profile</a>
            </li>

            <!--  -->
            {% endif %}
        </div>
        <div class="navbar-nav ml-auto">
            <ul class="navbar-nav ">
                {% if user.is_authenticated %}

                
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


