<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-loans">
				<div class="card-header">
					<h5 class="card-title">Total Loans</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_loans}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="loans-pending">
				<div class="card-header">
					<h5 class="card-title">Out on Loan </h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{out_on_loan}}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="loans-delivered">
				<div class="card-header">
					<h5 class="card-title">Total Cost of Loan Items</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">£{{out_on_loan_price}}</h3>
				</div>
			</div>
		</div>
	</div>


</div>