{% extends "stock/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>



<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Stock</h5>
			<div class="row">
				<div class="col">
					<div class="card card-body">
						<form method="get" class="form-inline">
							{{myFilter.form|crispy}}

							<button class="btn btn-outline-primary" type="submit">Search</button>
						</form>
					</div>
				</div>

			</div>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>

					<th>Product</th>
					<th>Supplier</th>
					<th>Quantity</th>
					<th>Stock last updated on</th>
					<th>Item expected on</th>
				</tr>

				{% for stock in page_obj %}
				<tr>

					<td>{{stock.product.name}}</td>
					<td>{{stock.supplier.name}}</td>
					<td>{{stock.quantity}}</td>
					<td>{{stock.last_update}}</td>
					<td>{{stock.arrives_on}}</td>
				</tr>
				{% endfor %}




			</table>
		</div>
		<div class="pagination">
			<span class="step-links">
				<ul class="pagination">
					{% if page_obj.has_previous %}
					<li><a class="page-link" href="?page=1">&laquo; </a></li>
					<li><a class="page-link"
							href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
					</li>
					{% endif %}


					<li class="page-item active" aria-current="page">
						<a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
					</li>
					{% if page_obj.has_next %}
					<li><a class="page-link"
							href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
					<li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a></li>
					{% endif %}
				</ul>
			</span>
		</div>



	</div>

</div>

{% endblock content %}
